---
import { Image } from 'astro:assets';
const {id, name, icon, type } = Astro.props;

let href;
switch (type) {
	case "directory":
		href = "/directories/" + id;
		break;
	case "file":
		href = "/files/" + id;
		break;
	default:
		href = "/";
		break;
}
---
<a class={`desktop-icon-${type} cursor-default px-5 py-3 group`} href={href} data-dest-name={name}>
	<div class="group-focus:bg-denim-300">
		<Image src={icon} alt={name} width={60} height={60}/>
	</div>
	<span class="cursor-default group-focus:bg-denim-300">{name}</span>
</a>

<script>
import { Window } from "../scripts/windows.ts";

const directoryDesktopIcons = document.querySelectorAll(".desktop-icon-directory") as NodeListOf<HTMLLinkElement>;
const fileDesktopIcons = document.querySelectorAll(".desktop-icon-file") as NodeListOf<HTMLLinkElement>;

directoryDesktopIcons.forEach(icon => icon.addEventListener("click", e => e.preventDefault()));
fileDesktopIcons.forEach(icon => icon.addEventListener("click", e => e.preventDefault()));

directoryDesktopIcons.forEach(icon => icon.addEventListener("dblclick", () => {
	const w = new Window(icon.href, icon.dataset.destName || "");
	w.open();
}));
fileDesktopIcons.forEach(icon => icon.addEventListener("dblclick", () => {
	const w = new Window(icon.href, icon.dataset.destName || "");
	w.open();
}));
</script>
